---
layout: archive
title: "Research projects"
permalink: /projects/
author_profile: true
---

{% if site.talkmap_link == true %}




<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<head>
  <style>
    date_title {
      font-family: 'Lato', Verdana, Helvetica, sans-serif;
      font-size: 22px;
      text-align: left;
  }
  </style>
</head>

<date_title>2022</date_title>
    <hr style="width:100%;text-align:left;margin-left:0">
{% for post in site.projects_2022 reversed %}
  {% include archive-single-internship-2022.html %}
 <!-- {% include archive-single-project.html %} -->
{% endfor %}

<date_title>2021</date_title>
    <hr style="width:100%;text-align:left;margin-left:0">
{% for post in site.projects_2021 reversed %}
  {% include archive-single-internship-2022.html %}
 <!-- {% include archive-single-project.html %} -->
{% endfor %}
