<style>
    .buttons {
      background-color: #04AA6D;
      border: none;
      color: white;
      width: 3.7em;
      padding: 0 0em;
      height: 1.5em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      margin: 4px 6px;
      color: white;
    }
    .buttonsRed1 { width: 4.2em; cursor: pointer; border-radius: 4px; background-color: #9A132A;}
    .buttonsGreen1 { width: 4.2em; border-radius: 4px; background-color: #228844;}
    .buttonsBlue1 { width: 4.2em; border-radius: 4px; background-color: #008CBA;}
    .buttonsOrange1 { width: 4.2em; border-radius: 4px; background-color: #BBA333;}
    table, th, td {
      border: 0px solid black;
      border-collapse: collapse;
    }
    date_title {
          font-family: 'Lato', Verdana, Helvetica, sans-serif;
          font-size: 24px;
          text-align: left;
          color: #069;
      }
    strong {
        font-family: 'Lato', Verdana, Helvetica, sans-serif;
        font-size: 16px;
        }
    heading {
        font-family: 'Lato', Verdana, Helvetica, sans-serif;
        font-size: 22px;
    }
    papertitle {
        font-family: 'Lato', Verdana, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
    name {
        font-family: 'Lato', Verdana, Helvetica, sans-serif;
        font-size: 32px;
        }
    .one
        {
        width: 160px;
        height: 160px;
        position: relative;
        }
    .two
        {
        width: 160px;
        height: 160px;
        position: absolute;
        transition: opacity .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out;
        -webkit-transition: opacity .2s ease-in-out;
        }
    .fade {
         transition: opacity .2s ease-in-out;
         -moz-transition: opacity .2s ease-in-out;
         -webkit-transition: opacity .2s ease-in-out;
        }
    span.highlight {
            background-color: #ffffd0;
        }
    
    /* .list-work {
            width: 120%;
        } */
    
    .list-work img {
            -webkit-transition: -webkit-transform 0.35s;
            transition: -webkit-transform 0.35s;
            -o-transition: transform 0.35s;
            vertical-align: middle;
            transition: transform 0.35s;
            transition: transform 0.35s, -webkit-transform 0.35s;
            object-fit: contain;
            background-color: white;
            width: 300px;
            height: 225px;
            margin: 10px;
            vertical-align: middle;
            float: left;
        }
    
    .list-work img:hover {
            -webkit-transform: scale3d(0.9, 0.9, 1);
                    transform: scale3d(0.9, 0.9, 1);
        }
    
    div.justified-text {
        text-align: justify; 
    }
    
    a {
        text-decoration: none;
    }
    
    .badge {
      display: inline-block;
      padding: 0.5em 0.5em;
      font-size: 100%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25rem;
      color: #fff;
      background-color: #6c757d;
    }
    .badge.primary {
        background-color: #0581ae;
      }
    
    .badge.secondary {
        background-color: #079b80;
      }
    </style>