


{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        {% if post.img %}
          <img src="{{ base_path }}{{ post.img }}" alt="">
        {% endif %}

      </div>
    {% endif %}
        <span>
    <a href="https://victoria-brami.github.io">
      <h3>{{ title }}</h3</a><br>

    <div class="buttons buttonsRed1">
          <buttons id="toPdfButton" class="float-left submit-button" >Report</buttons>
          </div>
          <script type="text/javascript">
              document.getElementById("toPdfButton").onclick = function () {
                  location.href = "{{ base_path }}{{ post.url }}";
              };
          </script>
          <div class="buttons buttonsGreen1">
          <buttons id="toCodeButton" class="float-left submit-button" >Code</buttons>
          </div>
          <script type="text/javascript">
              document.getElementById("toCodeButton").onclick = function () {
                  location.href = "{{ post.code }}";
              };
          </script><br><br>
  </article>
</div>

