.container {
    width:100%;
    border:1px solid #921111;
}
.container div {
    width:120%;
}
.container .header {
    background-color:#cf33ff; 
    /* #d3d3d3; #33CCFF*/
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}
